html,body {
  height: 100%;
}

body {
  background-image: url(../image/avatar.jpg);
  background-size: cover;
}

.main-form {
  width: 50%;
  background-color:  rgba(255, 255, 255, 0.9);
}

.div-form {
  margin-bottom: 0.5rem;
}