html,body {
  height: 100%;
}

body {
  background-image: url(../image/avatar.png);
  background-size: cover;
}

.log-out-form {
  height: 6%;
  background-color: blue;
  color: yellow
}

.main-form {
  width: 50%;
}

.div-form {
  margin-bottom: 0.5rem;
  padding-right: 4rem;
}