<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Test</title>
  <link rel="stylesheet" href="../static/css/testcss.css">
</head>
<body>
  <form >
    <input type="submit" formaction="/doanhnghiep" value="Doanh Nghiệp">
    <input type="submit" formaction="/canhan" value="Cá Nhân">
  </form>
  <h1 id="h123">sentence one</h1>
  <h2 id="h123">sentence two</h2>
</body>
</html>