<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>doanhnghiep</title>
  <style>
    .form_popup{
      display: none;
    }
  </style>
</head>
<body>
  <form action="/doanhnghiep" method = "POST">
    <label for="input_username">tên tài khoản hoặc email</label>
    <input id="input_username" type="text" placeholder="username" name="username"> <br><br>
    <label for="select_type">Bạn đã có tài khoản?</label>
  
    <div id="select_type">
      <input id="register" type="radio" name="type" value="Register" onclick="myFunction1()" required>Chưa, tôi tạo tài khoản mới <br>
      <input id="sign_in" type="radio" checked name="type" value="Sign In" onclick="myFunction2()" required>Có, mật khẩu của tôi là <br>
    </div>

    <div class="form_popup" id="open_form">
      <input type="text" name="space_name" placeholder="your working space name?"> <br>  
      <!-- tạm xóa required vì ảnh hưởng tới route signin -->
      <input type="text" name="contact_number" placeholder="your contact number?" > <br>
      <input type="text" name="street_number" placeholder="street number?"> <br>
      <input type="text" name="street" placeholder="street name?"> <br>
      <select name="district">
        <option value="question" selected disabled>Your district?</option>
        <option value="Ba Đình">Ba Đình</option>
        <option value="Cầu Giấy">Cầu Giấy</option>
        <option value="Hoàng Mai">Hoàng Mai</option>
        <option value="Thanh Xuân">Thanh Xuân</option>
        <option value="Hoàn Kiếm">Hoàn Kiếm</option>
      </select> <br>
      <input type="text" name="detail" placeholder="your working space detail?"> <br>
      <input type="number" name="price" placeholder="your price per hour?">
    </div>

    <input type="password" placeholder="password" name="password">
    
    <script>
      function myFunction1() {
        var x = document.getElementById("register").value;
        document.getElementById("submit_button").innerHTML = x;
        document.getElementById("open_form").style.display = "block";
      }
      function myFunction2() {
        var y = document.getElementById("sign_in").value;
        document.getElementById("submit_button").innerHTML = y;
        document.getElementById("open_form").style.display = "none";
      }
    </script>

    <button type="submit" id="submit_button">Sign In</button>
    <!-- <input id="submit_button" type="submit" value="Sign In"> -->
  </form>
</body>
</html>