<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User Space</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/user_space.css">
  <style>
    .form_popup {
      display: block;
    }
  </style>
</head>
<body>
  <div class="d-flex log-out-form align-items-center">
    <h5 class="col-11 d-flex justify-content-end">Xin chào {{ user_list.full_name }}</h5>
    <div class="col-1 d-flex justify-content-start">
      <form action="/log_out">
        <button class="btn btn-warning">Log Out</button>
      </form>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="d-flex row justify-content-center align-items-center main-form">
      <div class="d-flex w-100 div-form">
        <div class="col-4 w-100 d-flex justify-content-end">
          <h6>Bạn sống ở:</h6> 
        </div>
        <div class="col-8 w-100 d-flex justify-content-start">
          <h6 class="w-100">Quận {{ user_list.district }}</h6> 
        </div>
      </div>

      <div class="d-flex w-100 div-form">
        <div class="col-4 w-100 d-flex justify-content-end">
          <h6>Gợi ý Cospace gần bạn:</h6> 
        </div>
        <div class="col-8 w-100 d-flex justify-content-start">
          <h6 class="w-100">{{ doanhnghiep_list.space_name }}</h6> 
        </div>
      </div>
    
      <form class="w-100" action="/userspace" method="POST">
        <div class="d-flex w-100 div-form">
          <div class="col-4 w-100 d-flex justify-content-end">
            <h6>Tìm Cospace:</h6> 
          </div>
          <div class="col-8 w-100 d-flex justify-content-start">
            <input type="text" class="w-100" name="search_by_name" placeholder="tên, quận, tính năng ..."> 
          </div>
        </div>

        <div class="d-flex w-100 div-form">
          <div class="col-4 w-100 d-flex justify-content-end">
 
          </div>
          <div class="col-8 w-100 d-flex justify-content-start">
            <button class="btn btn-primary">Tìm Co Space</button>
          </div>
        </div>
      </form>

      <div class="d-flex w-100 div-form">  
        <div class="form_popup col-4" id="open_form">
          <div class="d-flex justify-content-end">
            <h6>Kết quả tìm kiếm:</h6>
          </div>
  
          {% for item in search_result %}
            <h6 class="d-flex justify-content-end">{{ item.space_name }}</h6>
          {% endfor %}
          
        </div>
        <div class="col-8 w-100 d-flex justify-content-center align-items-center">
          <button onclick="myFunction1()">Ẩn / Hiện</button>
        </div>  
      </div>
      
      <form class="w-100" action="/userspace/search_result" target="_blank" method="POST">
        <div class="d-flex w-100 div-form">
          <div class="col-4 w-100 d-flex justify-content-end">
            <h6>Tính năng:</h6> 
          </div>
          <div class="col-8 w-100 d-flex justify-content-start">
            <h6>Tìm Co Space theo các bộ lọc khác nhau</h6> 
          </div>
        </div>

        <div class="d-flex w-100 div-form">
          <div class="col-4 w-100 d-flex justify-content-end">
            <h6>Tìm theo quận:</h6> 
          </div>
          <div class="col-8 w-100 d-flex justify-content-start">
            <select class="w-100" name="district" id="district" required>
              <option value="No result">Không tìm theo tiêu chí này</option>
              <option value="Ba Đình">Ba Đình</option>
              <option value="Cầu Giấy">Cầu Giấy</option>
              <option value="Hoàng Mai">Hoàng Mai</option>
              <option value="Thanh Xuân">Thanh Xuân</option>
              <option value="Hoàn Kiếm">Hoàn Kiếm</option>
            </select>
          </div>
        </div>

        <div class="d-flex w-100 div-form">
          <div class="col-4 w-100 d-flex justify-content-end">
            <h6>Tìm theo đơn giá/ giờ:</h6> 
          </div>
          <div class="col-8 w-100 d-flex justify-content-start">
            <div id="price">
              <input type="radio" name="price" value="No result" required> Không tìm theo tiêu chí này <br>
              <input type="radio" name="price" value="Dưới 50000" required> Dưới 50.000 VND/ giờ <br>
              <input type="radio" name="price" value="Từ 50000 tới 70000" required> Từ 50.000 VND tới 70.000 VND/ giờ <br>
              <input type="radio" name="price" value="Trên 70000" required> Trên 70.000 VND/ giờ <br>
            </div> 
          </div>
        </div>
        
        <div class="d-flex w-100 div-form">
          <div class="col-4 w-100 d-flex justify-content-end">
             
          </div>
          <div class="col-8 w-100 d-flex justify-content-start">
            <button class="btn btn-primary">Tìm kiếm</button>
          </div>
        </div>

      </form>
    </div>
  </div>

  <script>
    function myFunction1() {
      var x = document.getElementById("open_form");
      if (x.style.display === "none") {
        x.style.display = "block";
      } 
      else {
        x.style.display = "none";
      }
    }
  </script>
</body>
</html>