<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Your Space</title>
  <style>
    #space_edit {
      display:none;
    }
  </style>
</head>
<body>
  <form action="/log_out">
    <input type="submit" value="Log Out">
  </form>
  <h1>đây là {{ user_list.space_name }}</h1>
  <h1>số điện thoại liên lạc {{ user_list.contact_number }}</h1>
  <h1>Địa chỉ là {{ user_list.address.street_number }}, đường {{ user_list.address.street }}, quận {{ user_list.address.district }} </h1>
  <h1>Chi tiết: {{ user_list.detail }}</h1>
  <h1>Giá tiền theo giờ: {{ user_list.price }}</h1>

  <h4>Do you want to edit?</h4>
  <button onclick="myFunction1()">Yes/No</button>
  <form id="space_edit" action="/yourspace" method="POST">
    <input type="text" name="space_name" value="{{ user_list.space_name }}" placeholder="new working space name?"> <br>  
    <input type="text" name="contact_number" value="{{ user_list.contact_number }}" placeholder="new contact number?" > <br>
    <input type="text" name="street_number" value="{{ user_list.address.street_number }}" placeholder="new street number?"> <br>
    <input type="text" name="street" value="{{ user_list.address.street }}" placeholder="new street name?"> <br>
    <select name="district">
      <option value="{{ user_list.address.district }}" selected>Your new district?</option>
      <option value="Ba Đình">Ba Đình</option>
      <option value="Cầu Giấy">Cầu Giấy</option>
      <option value="Hoàng Mai">Hoàng Mai</option>
      <option value="Thanh Xuân">Thanh Xuân</option>
      <option value="Hoàn Kiếm">Hoàn Kiếm</option>
    </select> <br>
    <input type="text" name="detail" value="{{ user_list.detail }}" placeholder="new working space detail?"> <br>
    <input type="number" name="price" value="{{ user_list.price }}" placeholder="new price per hour?">
    <button>Update</button>
  </form>
<script>
  function myFunction1() {
    var x = document.getElementById("space_edit");
    if (x.style.display === "none") {
      x.style.display = "block";
    } 
    else {
      x.style.display = "none";
    }
  }  
</script>
  
  
</body>
</html>